<!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        

      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Wanderlust your home</a>
        <% if(!currUser) { %>
            <a class="nav-link" href="/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>

        <% if(currUser) {%>
            <a class="nav-link" href="/logout">Logout</a>
        <%}%>
      
      </div>



      
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-md bg-white border-bottom shadow-sm sticky-top py-2 position-relative">
  <div class="container-fluid px-4">

    <!-- Brand / Logo -->
    <a class="navbar-brand d-flex align-items-center gap-2 fw-semibold text-danger fs-5">
      <i class="fa-regular fa-compass"></i> Wanderlust
    </a>

    <!-- Search Bar Centered -->
    <form class="d-none d-md-flex position-absolute top-40 start-50 translate-middle-x" role="search" style="width: 500px;">
      <input class="form-control form-control-sm me-2 p-2" type="search" name="q" placeholder="Search destinations..." aria-label="Search">
      <button class="btn btn-outline-danger btn-sm p-2" type="submit">Search</button>
    </form>

    <!-- Mobile Toggler -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Menu -->
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-center gap-3">

        <li class="nav-item">
          <a class="nav-link text-dark small" href="/listings">Explore</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-light border rounded-pill px-3 py-1 small text-dark" href="/listings/new">
            <i class="fa-solid fa-house-circle-check me-1 text-danger"></i> Start Hosting
          </a>
        </li>

        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link text-dark small" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark small" href="/login">Log In</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link text-dark small" href="/logout">Logout</a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
