<% layout('/layouts/boilerplate') %>

<main class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="w-100" style="max-width: 400px;">
    <form action="/login" method="POST" class="bg-white p-4 shadow-sm rounded-3 needs-validation" novalidate>
      <h4 class="mb-4 text-center fw-semibold">Login</h4>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        <label for="username">Username</label>
        <div class="invalid-feedback">Please enter a username.</div>
      </div>


      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        <label for="password">Password</label>
        <div class="invalid-feedback">Please enter your password.</div>
      </div>

      <button class="btn btn-dark w-100 py-2 mb-2" type="submit">Login</button>

      <p class="text-center small text-muted mb-0">
        Dont have account? Create account <a href="/signup" class="text-decoration-none">Sign Up</a>
      </p>
    </form>
  </div>
</main>
